<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аутстафинговая компания GoldRekrut</title>
	<meta http-equiv="X-UA-Compatible" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="width">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/adaptive.css">
	<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

</head>
<body>
    <header>
        <div class="pc-header">
            <div class="logo">

            </div>
            <div class="navs">
                <a>Цены</a>
                <a>Схема работы</a>
                <a>Ваша выгода</a>
            </div>
            <div class="contacts">

            </div>
        </div>
        <div class="mobile-header">

        </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>